.student-requests{
  &__new{
    margin-bottom: 16px;
  }
  &__reject{
    margin-top: 40px;
    margin-bottom: 12px;
  }
  &.fill {
    tbody{
      td:last-child {
        background: #DDFFD8;
      }
    }
  }
}