.add-user{
  &__header{
    display: flex;
    justify-content: end;
    padding: 16px 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    border-radius: 12px;
  }
  &__title{
    margin-bottom: 40px;
  }
  &__btns{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
  }
  &__form-item{
    label{
      color: #B0B0B0 !important;
    }

    margin-bottom: 16px;
  }
}