* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope';
}

body{
  background: rgba(255, 255, 255, 1);
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}

.title{
  color: #1B1F3BCC;
  font-size: 28px;
  font-weight: 800;
}